* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  background: #e9eaed;
  font-family: "Oswald", sans-serif;
}
.App {
  width: 90%;
  margin: 0 auto;
}
.sliderCenter {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.75;
}
.slider h1 {
  color: white;
}
.slider p {
  color: white;
}
/* About */
.aboutContainer {
  width: 70%;
  background-color: white;
}
.aboutContent {
  padding: 20px;
}
/* End About */
/* Contact */
.contact input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact input[type="submit"] {
  width: 95%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 2.5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact div {
  border-radius: 5px;
  padding: 20px;
}

.contactContainer {
  width: 70%;
  background-color: white;
}
/* End Contact */
/* RecentPost */
.postImageWrapper {
  height: 450px;
  overflow: hidden;
}

.postImageWrapper img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* End RecentPost */
/* Home */
.gallaryPost {
  display: flex;
  justify-content: space-between;
}
.sideImageWrapper div {
  width: 100%;
  height: 450px;
}

.sideImageWrapper div img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mainImageWrapper {
  width: 100%;
  height: 450px;
}

.mainImageWrapper img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* End Home */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #565673;
  padding: 0 10px;
}
/* End Navbar */
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.headerMenu a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #565673;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.headerMenu a:hover {
  color: #5f9ea0;
}
/* End Header */
/* Logo */
.logo2 a {
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  text-decoration: none;
  color: #333;
}
/* End Logo */
/* Logo */
.logo {
  padding: 75px 25px 25px 25px;
  text-align: center;
}
.logo a {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-decoration: none;
  color: #333;
}
/* End Logo */
/* Card */
.card {
  width: 100%;
  background: #fff;
}
/* End Card */
/* BlogPost */
.blogPostContainer {
  width: 70%;
}

.blogHeader {
  text-align: center;
}
.blogCategory {
  display: block;
  font-size: 14px;
  padding: 10px 0;
}
.postTitle {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}

.postedBy {
  font-size: 15px;
  font-style: italic;
  padding: 10px 0;
  display: block;
  color: #6c6c6c;
}

.postImageContainer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.postImageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.postContent {
  margin: 10px;
}

.postContent h3 {
  font-weight: 400;
  color: #333;
}

.postContent p {
  font-size: 14px;
  color: "#6c6c6c";
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
/* End BlogPost */
/* Sidebar */
.sidebarContainer {
  width: 27%;
}
.cardHeader {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #333;
}

.profileImageContainer {
  width: 100%;
  box-sizing: border-box;
}

.profileImageContainer img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0;
}

.personalBio {
  font-size: 14px;
  color: #565673;
  font-weight: 300;
}
.recentPosts {
  padding: 20px 0;
}
.recentPost {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.recentPost h3 {
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.recentPost span {
  font-size: 10px;
  font-weight: 400;
  color: #6c6c66;
}
/* End Sidebar */
/* Footer */
.footer {
  width: 100%;
  height: 70px;
  background-color: black;
}
.footer h3 {
  padding-top: 20px;
  text-align: center;
  color: white;
}
/* End Footer */
/* Layout */
.layout {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
/* Layout */
